/* reset e estilos gerais  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* bg superior  */
.superinfo-bg {
  background-color: #122ab2;
  color: #fff;
}

.superinfo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 10px;
}

.superinfo a {
  color: #fff;
}

.superinfo a,
.superinfo p {
  margin: 0 10px 10px 10px;
}

/* menu  */
.menu-bg {
  background-color: #2c70ff;
}

.menu {
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.menu a {
  color: #fff;
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.25em;
  display: block;
  padding: 10px;
}

.menu-nav a:hover {
  color: #122ab2;
}

/* about  */
.intro {
  font-size: 3em;
  line-height: 1;
  margin: 0 auto;
  padding: 60px 10px;
  max-width: 960px;
}

.sobre {
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: wrap;
}

.sobre-info {
  flex: 2 1 300px;
  margin: 0 10px;
}

.sobre-info h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.sobre-info p {
  color: #7c7c7c;
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 1em;
}

.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

/* media iphone 5  */
@media only screen and (max-width: 321px) {
  .sobre-img {
    margin: 0;
  }
}

/* products  */
.products {
  max-width: 960px;
  margin: 60px auto;
}

.products h1 {
  font-size: 3em;
  margin: 0 10px 60px 10px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
}

.products-item {
  align-self: center;
  flex: 1 1 175px;
  margin: 10px;
}

.products-item h2 {
  color: #7c7c7c;
  font-size: 3em;
  background-color: #f7f7f7;
  padding: 60px 20px;
}

.purple {
  border-top: 8px solid #ae81ff;
}

.pink {
  border-top: 8px solid #f9265e;
}

.blue {
  border-top: 8px solid #66d9eb;
}

/* price  */
.price {
  background-color: #f7f7f7;
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
  align-items: flex-end;
}

.price-item {
  flex: 1 1 260px;
  border: 4px solid #fff;
  padding: 20px;
  margin: 10px;
}

.price-item h2 {
  font-size: 3em;
  color: #c0c0c0;
  text-align: center;
  margin-top: 20px;
}

#gold {
  color: #daa520;
}

#cooper {
  color: #cd7f32;
}

.price-item span {
  max-width: 300px;
  text-align: center;
  display: block;
  padding: 10px 0 5px 0;
  margin: 20px auto;
  font-size: 3em;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.price-item sup {
  font-size: 1.5rem;
}

.price-item ul {
  font-style: italic;
  color: #7c7c7c;
  max-width: 300px;
  font-size: 1.05em;
  margin: 20px auto;
}

.price-item li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.price-item li::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #2c70ff;
}

.price-item a {
  max-width: 300px;
  display: block;
  margin: 20px auto;
  border: 2px solid;
  color: #7c7c7c;
  font-size: 1.5em;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
  opacity: .7;
}

.price-item a:hover {
  opacity: 1;
}

/* quality  */
.quality {
  display: flex;
  flex-wrap: wrap;
  margin: 60px auto;
  max-width: 960px;
}

.quality-item {
  flex: 1 1 300px;
  margin: 30px 10px;
}

.quality-item h2 {
  color: #7c7c7c;
  margin-bottom: 15px;
}

.quality-item p {
  font-style: italic;
  color: #777;
  font-size: 1.25em;
}

.quality-item h2::before {
  content: '';
  height: 20px;
  width: 4px;
  background: blue;
  display: inline-block;
  margin-right: 10px;
}

.quality-item:nth-of-type(3n+1) h2::before {
  background-color: #ae81ff;
}

.quality-item:nth-of-type(3n+3) h2::before {
  background-color: #66d9eb;
}

.quality-item:nth-of-type(3n+2) h2::before {
  background-color: #f9265e;
}

/* newsletter */
.newsletter {
  background-color: #f8f8f8;
  padding: 60px calc((100% - 960px) / 2);
  display: flex;
  flex-wrap: wrap;
}

.newsletter-info {
  flex: 1 1 300px;
  margin: 0 10px;
}

.newsletter-info h1 {
  font-size: 3em;
  color: #a4a4a4;
}

.newsletter-info p {
  font-size: 1.25em;
  font-style: italic;
  max-width: 230px;
  color: #7c7c7c;
  margin-bottom: 10px;
}

.newsletter-form {
  flex: 2 1 300px;
  margin: 0 10px;
  display: flex;
  align-self: center;
  flex-wrap: wrap;
}

.newsletter-form input {
  font-family: 'Nunito', Helvetica, sans-serif;
  border: 4px solid #2c70ff;
  flex: 3 1 200px;
  font-size: 1.25em;
  color: #7c7c7c;
  font-style: italic;
  background: transparent;
  padding: 10px;
  margin: 0px;
  border-radius: 0px;
}

.newsletter-form button {
  flex: 1 1 200px;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #2c70ff;
  color: #fff;
  cursor: pointer;
  border: 0px;
  font-family: "Nunito",
    Helvetica,
    sans-serif;
  padding: 5px 5px;
}

footer {
  background-color: #2C70FF;
  display: flex;
  flex-wrap: wrap;
}

footer p {
  color: #fff;
  margin: 0 auto;
}